{% extends 'vkhwing/base.html' %}
{% load static %}
<!<!DOCTYPE html>
<html>
<head>
<title>{% block title %}-Add Album{% endblock %}</title>
</head>
<body>
<div class="container-fluid">
<h1>Add a Album</h1>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
           <div class="span6">
{% block body_block %}
{% if user.is_authenticated %}
<form id="category_form" method="post" action="/vkhwing/add_album/">
{% csrf_token %}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
{{ field.errors }}
{{ field.help_text}}
{{ field }}
{% endfor %}
<input type="submit" name="submit" value="Create Album" />
</form>
{% else %}
<h3>You are not logged in</h3>
<br/>
<h3><a href="/vkhwing/login/">Log in</a> to create album</h3>
{%endif%} 
{% endblock %}
</div>
</div>
</div>
</body>
</html>
